
<<<<<<< HEAD
<div class="center-align">

<h3><a href="/sneakers">Want to see the best shoes of them all? If you dont see it, please add your own.</a></h3>

=======
<div class="center-align collection-item">

<h3><a href="/sneakers" class="waves-effect waves-red">Want to see the best shoes of them all? If you dont see it, please add your own.</a></h3>

>>>>>>> 475a811f61b44b0cf19e11e7d8159745fa2f0217
</div>
