<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoe Battle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>
</head>

<div class="background">
    <body>
    <img src="/public/css/images/AirMax270.jpg" alt="" class=""/>
    </div>

        <div class="collection-item">
            <a href="/" class="waves-effect waves-purple"><h1>Sneak-Life</h1></a>
        </div>
  
    <div class="divider #9c27b0 purple"></div>

    <div class="container vertical-align">
    {{{body}}}

    <div class="divider #9c27b0 purple"></div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
</div>


</body>

</html>
