<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoe Battle</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>
</head>
<body>
<div class="container">
    <h1><a class="card panel green accent-2" href="/">Sneak-Life</a></h1>
    <div class="divider #9c27b0 purple"></div>
    {{{body}}}

    <div class="divider #9c27b0 purple"></div>
    <div class="card panel">
        <img src="" class="">Current Top Four</h5>
    </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>
</div>
</body>
</html>
