<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoe Battle</title>
    {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script> --}}
</head>
<body>
<div class="container">
    <h1><a class="responsive-img" href="/">Sneak-Life</a></h1>
</div>

    {{{body}}}

    {{!-- <script type="text/javascript" src="js/materialize.min.js"></script> --}}
</body>
</html>
