<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shoe Battle</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/css/materialize.min.css">
   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.3/js/materialize.min.js" defer></script>
</head>

<div class="background">
    <body>
    
    {{!-- </div> --}}

    {{!-- <script type="javascript">
        $(document).ready(function(){
      $('.parallax').parallax();
    });
    </script> --}}
    
    <div class="parallax-container center valign-wrapper" style="">
        <div class="container">
            <div class="collection-item">
                <span class="red-text text-darken-2">
                    <a href="/" class="waves-effect waves-purple"><h1 class="@extend .red-text, .text-lighten-4">Sneak-Life</h1></a>
                </span>
            </div>
            
    {{!-- <img id="firstBackground" src="https://i.pinimg.com/564x/f6/9f/11/f69f113d9dc990c5c153c9006c77d175.jpg" alt="" class=""/> --}}
    
            <div class="divider #9c27b0 red"></div>

            <div class="container vertical-align">
            
            {{{body}}}
            

            <div class="divider #9c27b0 red"></div>
            </div>
        </div>

    </div>

            <div class="center-align">
                <img id="redDunk" src="https://soleobsessed.com/wp-content/uploads/2013/06/focus-unfocus-800x450_20602.gif">
            </div>

    <script type="text/javascript" src="js/materialize.min.js"></script>

</body>

</html>
