/* body {
    Image from nicekicks.com
    background: url("/assets/images/red6.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.background {
    background: url("/assets/images/red6.png");
}

/* index-background {
    margin: 100px;
}

brand-logo {
    text-decoration-color: rgba(0, 0, 255, 0.747);
}
<<<<<<< HEAD
=======

a {
    
} */
>>>>>>> 475a811f61b44b0cf19e11e7d8159745fa2f0217
